<div class="col-md-10" style="margin-left: 0%">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3>Detalhe do produto</h3>
        </div>
        <form class="form-horizontal">
            <div [ngClass]="classCss" role="alert" *ngIf="menssage">
                <strong>{{menssage.text}}</strong>
            </div>
            <div class="box-body">
                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b>Nome: </b>
                        <span>{{produto.nome}}</span>
                    </li>
                    <li class="list-group-item">
                        <b>Descrição: </b>
                        <span>{{produto.descricao}}</span>
                    </li>
                    <li class="list-group-item">
                        <b>Valor: </b>
                        <span>{{produto.valor | currency:"BRL":"symbol"}}</span>
                    </li>
                </ul>
            </div>
            <div class="box-footer">
                <button class="btn btn-primary" (click)="voltar()">Voltar</button>
            </div>
        </form>
    </div>
</div>